<div>
    <h1>Guillermo Manterola Practica 1:</h1>

    <button (click)="onClick()">Linkedin</button>



    <button (click)="geta()">Get token</button>
    <button (click)="getInfoUser()">Get Info user</button>

    <button (click)="refreshToken()">Refresh token</button>
    <button (click)="postComment()">Post comment</button>

    
    
</div>
<div>
    <p>Token: {{token}}</p>
    <br>
    <p>TokenExporatinDate: {{tokenExpiration}}</p>
    <br>
    <p>newToken: {{newToken}}</p>
    <br>
    <p>newTokenExpiration: {{newTokenExpiration}}</p>
    <br>
    <h1>Info user:</h1>
    <br>
    <p>name: {{name}}</p>
    <br>
    <p>lastname: {{lastname}}</p>
    <br>
    <p>foto: {{foto}}</p>
</div>