<div>
    <h1>Guillermo Manterola Practica 1:</h1>

    <button (click)="onClick()">Linkedin</button>



    <button (click)="geta()">Get token</button>
    <button (click)="getInfoUser()">Get Info user</button>

    <button (click)="errorToken()">Con token incorrecto error</button>
    <button (click)="postComment()">Post comment</button>

    
    
</div>
<div>
    <p>Token: {{token.access_token}}</p>
    <br>
    <p>TokenExporatinDate: {{token.expires_in}}</p>
    <br>
    <p>Con token incorrecto error: {{newToken}}</p>
    <br>
    <h1>Info user:</h1>
    <br>
    <p>name: {{user.localizedFirstName}}</p>
    <br>
    <p>lastname: {{user.localizedLastName}}</p>
    <br>
    <p>foto: {{foto}}</p>
</div>

